*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.layout1{
    flex-direction: row;
    width: 80%;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: blanchedalmond;
    gap: 50px;
}
.itemsNAV{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 15vh;
}

.meio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 70vh;
}

.mains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    height: 100%;
    width: 80vw;
    gap: 10%;
}

.main1{
    display: flex;
    background-color: black;
    height: 17vh;
    width: 15vw;
}

.main2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}
.quadrados{
    background-color: blueviolet;
    height: 10vh;
    width: 10vw;
}

.aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 70vh;
    width: 20vw;
    gap: 50px;
}
.itemsASIDE{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    height: 15vh;
}